#store-index .pathname-container,
.store h1:not(#store-index h1) {
  margin-top: 7.4rem;
}
/* STORE START */
/* STORE HEADER START */
.store-header {
  top: 0;
  margin-top: var(--nav-bar-top-position);
  z-index: 9999;
  /* margin-top: 100px; */
  position: fixed;
  width: 100%;
  height: 30px;
}
#store-index h1 {
  font-size: var(--fontsize-h2);
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 40px;
}
.product-grid h3 {
  font-size: var(--fontsize-h5);
}
.product-grid img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
  border-radius: var(--border-radius-2);
}
.product-grid .grid-item .text-wrapper {
  padding: 15px 20px 0 20px;
}
.product-grid .grid-item {
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
.swiper {
  border-radius: var(--border-radius-2);
}
#store-product select {
  width: 100%;
  padding: 10px 15px;
  border-radius: var(--border-radius-2);
  outline: none;
  cursor: pointer;
  margin: 10px 0;
  background-color: rgb(var(--white-color));
}
#store-product .cta {
  max-width: 100%;
}
/* STORE HEADER END */
/* SWIPER START */
.swiper.product-swiper {
  aspect-ratio: 1/1;
  width: 100%;
}
.swiper.recommendation-swiper {
  width: 100%;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: rgb(var(--white-color));
}
/* SWIPER END */
.login input {
  width: 100%;
  padding: 15px;
  color: black;
  border-radius: var(--border-radius-2);
  border: none;
  outline: none;
}
.login h1 {
  font-size: 40px;
  text-transform: none;
}
.store .store-nav {
  display: none;
}
.shopping-cart:not(.store .shopping-cart) {
  display: none;
}
.cart-navigation {
  position: fixed;
  top: 44px;
  width: 100%;
  z-index: 9;
  background-color: rgba(var(--black-color), 0.3);
  -webkit-backdrop-filter: var(--blur-2);
  backdrop-filter: var(--blur-2);
  font-family: var(--content-font);
  padding: 20px var(--homepage-padding) var(--homepage-padding);
  -ms-transform: translateY(-120%);
  transform: translateY(-120%);
  -webkit-transform: translateY(-120%);
}
.cart-navigation.open {
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.cart-navigation,
.cart-navigation::before,
.cart-navigation::after,
.cart-navigation.open,
.cart-navigation.open::before,
.cart-navigation.open::after {
  transition: background 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.cart-items {
  max-height: 40vh;
  overflow-y: auto;
}
.cart-navigation span {
  color: white;
  font-size: 0.9rem;
}
.cart-navigation span:not(.cart-navigation span.left) {
  text-align: center;
}
.cart-navigation span.right {
  text-align: right;
}
.cart-navigation span.left {
  text-align: left;
}
.cart-navigation .grid-container.table {
  grid-template-columns: repeat(4, 1fr);
}
.cart-navigation .cart-item img {
  aspect-ratio: 1/1;
  width: 90px;
  height: auto;
  border-radius: var(--border-radius-1);
}
.cart-item span {
  font-size: 0.7rem;
}
.fa-trash {
  color: red;
}
#store-index .grid-container.fifty-fifty img {
  object-fit: cover;
}
.cart-items .grid-container {
  align-items: center;
}
.ctas {
  display: flex;
  justify-content: space-between;
}
/* ADMIN PANEL */
* {
  box-sizing: border-box;
}

.panel-container {
  float: left;
  width: 100%;
  height: 72vh;
  border: 1px solid #ccc;
  display: flex;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  flex-grow: 1;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  flex-grow: 1;
  overflow-y: scroll;
}
.table-orders {
  color: white;
}
/* STORE END */
